<nav class="navbar navbar-expand-lg navbar nav navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand letra" href="#">UTVCO TECHNOLOGY <img src="https://bit.ly/2VM33ST" alt="" height="35px"><img src="https://bit.ly/3fRClzo" alt="" height="35px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav alineado">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="inicio"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cursos"><i class="fas fa-graduation-cap"></i> Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto"><i class="fas fa-address-book"></i> Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://bit.ly/3xxYoBc" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Servicio 1</h3>
                <h6>Descripcion de servicio 1.</h6>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://bit.ly/37ppbFk" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Servicio 2</h3>
                <h6>Descripcion de servicio 2.</h6>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://bit.ly/3lHnJ9z" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Servicio 3</h3>
                <h6>Descripcion de servicio 3.</h6>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
<br>
<div class="container">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3 centrado">
        <div class="col">
            <div class="card seleccionar" (click)="cdesarrollo()">
                <img src="https://bit.ly/3ywpkTb" class="card-img-top" alt="...">
                <h5>Desarrollo de soluciones</h5>
            </div>
        </div>
        <div class="col">
            <div class="card seleccionar" (click)="cmantenimiento()">
                <img src="https://bit.ly/3fKfWnJ" class="card-img-top" alt="...">
                <h5>Mantenimiento a PC</h5>
            </div>
        </div>
        <div class="col">
            <div class="card seleccionar" (click)="ccursos()">
                <img src="https://bit.ly/37pCu8T" class="card-img-top" alt="...">
                <h5>Cursos para todos</h5>
            </div>
        </div>


    </div>
    <br>
</div>