<nav class="navbar navbar-expand-lg navbar nav navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand letra" href="#">UTVCO TECHNOLOGY <img src="https://bit.ly/2VM33ST" alt="" height="35px"><img src="https://bit.ly/3fRClzo" alt="" height="35px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav alineado">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="inicio"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cursos"><i class="fas fa-graduation-cap"></i> Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto"><i class="fas fa-address-book"></i> Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="centrado">UN DESARROLLO A TU MEDIDA</h1>
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/3lIqQ1e" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Desarrollo Web</h5>
                    <p class="card-text justificar">Se desarrollan herramientas que los usuarios pueden utilizar accediendo a un servidor web a través de internet o de una intranet mediante un navegador.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/3s2F5Px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Desarrollo Movil Hibrido</h5>
                    <p class="card-text justificar">Se desarrolla una aplicación multiplataforma que se ejecuten de forma nativa en Android, IOS, Windows Phone, BlackBerry OS con un mismo proceso.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/3fHS4RJ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Desarrollo Nativo</h5>
                    <p class="card-text justificar">Se desarrolla específicamente para un entorno o sistema operativo, de igual manera ya sea iOS, Android, Windows Phone, BlackBerry OS, entornos de escritorio.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>