<div class="container">
    <h1 class="centrado">MANTEN TU COMPUTAORA AL 100%</h1>
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/1f/08/ed/1f08eda6c8ebce4a779477b23675e931.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Mantenimiento Preventivo</h5>
                    <p class="card-text justificar">Consiste en aplicar una serie de procedimientos y técnicas que ayudan a minimizar el riesgo de fallos de manera considerable, garantizando el funcionamiento durante más tiempo. En otras palabras, sirve para alargar la vida útil de
                        los dispositivos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/3ivL7Fi" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Mantenimiento Correctivo</h5>
                    <p class="card-text justificar">Se trata de la solución que deberá aplicarse cuando el mantenimiento predictivo y el preventivo no hayan podido advertir o prevenir un fallo, y éste se produce. Se trata de la reparación o reemplazo del componente del sistema que no
                        funcione.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/3fG2Mbk" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Mantenimiento Predictivo</h5>
                    <p class="card-text justificar">Se trata de un tipo de mantenimiento que se realiza gracias al uso de herramientas de diagnóstico, con el propósito de detectar posibles fallos, e intentar evitarlas antes de que se produzcan, se trata de prevenir complicaciones a
                        futuro.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>