<div class="container">
    <h1 class="centrado">APRENDE ALGO NUEVO CON NUESTROS CURSOS DISPONIBLES</h1>
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/3CubCmg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Principios de programacion</h5>
                    <p class="card-text justificar">Aprende los principios basicos de la programacion y programacion orientada a objetos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/3fESiJu" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Programacion</h5>
                    <p class="card-text justificar">Aprende a programar y crea animaciones y objetos como un profesional.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://bit.ly/37yD0Bf" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title centrado">Herramientas de ofimatica</h5>
                    <p class="card-text justificar">Aprende y facilita tus trabajos con la paqueteria mas utilizada en el mundo.</p>
                </div>
            </div>
        </div>
    </div>
</div>